@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body{
    background-color: #EEF9BF;
}

div {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: 'Roboto', sans-serif;
    color: #75B79E;
    font-size: 56px;
    font-weight: 700;
    line-height: 66px;
    width: 100%;
    margin: 40px auto;
}

ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

li{
    width: 117px;
    height: 146px;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    margin: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    width: 100px;
    height: auto;
}

.escondido{
    display: none;
}

@media (max-width: 335px){
    .title {
        font-size: 36px;
        line-height: 42px;
        text-align: center;
    }

    ul{
        flex-direction: column;
    }
}